@import "./colors.scss";

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.page-container{
    border: chocolate 5px solid;
}

.page-section{
    width: 80%;
    margin: 0 auto 4rem;
    border: crimson 5px solid;
}

.share-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    span, div{
        margin:0 47px;
    }

    span{
        font-size: 21px;
    }
    div{
        .social-icon{
            color: $base-color;
            margin-left: 20px;
        }
    }
}