.navigation-bar {
  padding: 21px 120px;
  border: navy 5px solid;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navigation-bar span {
    font-size: 35PX;
    font-weight: 900; }
  .navigation-bar ul {
    display: flex; }
    .navigation-bar ul li {
      font-size: 14px;
      margin-left: 45px;
      list-style: none; }
